
body
{
	background-color:#dafbf8;
}

.custom-navbar
{
	background-image: -moz-linear-gradient(top, #a4bbf4, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a4bbf4), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #a4bbf4, #f2f2f2);
	background-image: -o-linear-gradient(top, #a4bbf4, #f2f2f2);
	background-image: linear-gradient(to bottom, #a4bbf4, #f2f2f2);
	background-repeat: repeat-x;
}

.nav a
{
	font-size:15px;
}
.custom-sidebar
{
	
}

.custom-carousel-caption
{
  /*background: #333333;*/
  background: rgba(0, 0, 0, 0.75);
  color:white;
}

.custom-carousel-caption > .custom-lead
{
	color:white;
	height:50px;
}

.custom-carousel-caption > h1
{
	
}

.carousel-inner > .item > img
{
	height: 500px;
}

#myCarousel
{
	/*height:500px;
	position:relative;*/
}

.custom-sidenav
{
	/*background-color:green;*/
	top:40px;
	/*position:fixed;*/
}

.custom-sidenav a
{
	color:black;
}

.custom-desc
{
	padding-top:40px;
}

.custom-header
{
	margin-top:40px;
}

.custom-footer
{
	border-top:1px solid darkgray;
	margin-top:40px;
	font-size:90%;
	color:gray;
}

.custom-jumbotron
{
	position:relative;
	padding-bottom:40px;
	padding-top:40px;
	background: ##81b18d; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #81b18d 0%, #81b1a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#81b18d), color-stop(100%,#81b1a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #81b18d 0%,#81b1a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #81b18d 0%,#81b1a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #81b18d 0%,#81b1a8 100%); /* IE10+ */
	background: linear-gradient(45deg,  #81b18d 0%,#81b1a8 100%); /* W3C */
	text-align:left;
	/*height:500px;*/
}

.custom-img
{
	/*max-width:90%;
	width:90%;
	height:90%;
	padding-left:5%;*/
	padding-top:40px;
}

#experience
{
	padding-top:40px;
}

#research
{
	padding-top:40px;
}

.section
{
	padding-top:40px;
}

h3
{
	border-bottom:1px solid darkgray;
}
/*
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 370px;
}*/